[Desktop Entry]
Version=1.0
Type=Application
Name=SSH-Studio
GenericName=SSH Configuration Editor
Comment=Manage SSH configuration files with a native GTK interface
Exec=ssh-studio
TryExec=ssh-studio
Icon=io.github.BuddySirJava.SSH-Studio
Terminal=false
Categories=Utility;
Keywords=SSH;config;network;administration;
StartupNotify=true


