.keyboard-shortcut {
    font-family: monospace;
    font-size: 0.9em;
    font-weight: 600;
    color: @theme_fg_color;
    background-color: @theme_bg_color;
    border: 1px solid @borders;
    border-radius: 6px;
    padding: 4px 8px;
    margin: 2px;
    min-width: 60px;
  }
  
  .keyboard-shortcut:focus {
    color: @theme_unfocused_fg_color;
    background-color: @theme_unfocused_bg_color;
    border-color: @unfocused_borders;
  }
  